{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- banner -->
<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="#">Home</a> / About Us</span>
        <h2>About Simka Properties Limited</h2>
    </div>
</div>
<!-- banner -->
<div class="container">
    <div class="spacer">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="{% static 'images/aboutus.jpeg' %}" class="img-responsive" alt="realestate">
                <h3>Our Vision</h3>
                <p>Our vision is to succeed, enabling our diverse team of valued employees to hold great accountability towards our esteemed customers. We aim high, with integrity, diversification, and consistency.</p>
                <h3>Our Philosophy</h3>
                <p>Our philosophy is that success should be shared and will be enhanced with team based approach characterized by mutual understanding, enthusiasm and drive. This result orientated approach ensures our clients are treated as partners and enables both the business and service targets we set together to be achieved.</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}
